@media screen and (max-width: 1424px) and (min-width: 1200px){



.main__container {
  padding-left: 20px;
  padding-right: 20px;
}

header > .main__container {
  margin: 0;
}

.header_content {
  width: calc(100vw - 40px);
}

.calculatesec_mainpage_content {
  max-width: 1300px;
  width: calc(100vw - 80px);
}

.calculatesec_mainpage_content_main_leftpart {
 
}

.calculatesec_mainpage_content_main_leftpart > h4:nth-child(3) {
  white-space: wrap;
}




.perfecthousesec_mainpage_content {
  width: calc(100vw - 40px);
}

.perfecthousesec_mainpage_content_list_item img {
  
}

.perfecthousesec_mainpage_content_list {
  justify-content: space-around;
  column-gap: 10px;
}


.popularprojectssec_mainpage_content {
  width: calc(100vw - 40px);
}

.benefitssec_mainpage_content {
  width: calc(100vw - 40px);
}


.podryadchiksec_mainpage_content {
  width: calc(100vw - 40px);
}

.stepssec_mainpage_content {
  width: calc(100vw - 40px);
}


.excursionsec_mainpage {
  width: calc(100vw - 40px);
}

.reviewssec_mainpage {
  width: calc(100vw - 40px);
}

.contractsec_mainpage {
  width: calc(100vw - 40px);
}


.questionssec_mainpage {
  width: calc(100vw - 40px);
}


.contactussec_mainpage {
  margin-left: 20px;
  margin-right: 20px;
  border-radius: 10px;
}


.footer_content {
  width: calc(100vw - 40px);
}




















}


